body {
    padding: 0;
    margin: 0;
    background-color: #191919;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    color: #c83f3f;
}